body {
  width: 50%;
  margin: 0 auto;
}

.header {
  font-size: 1.3rem;
  display: flex;
}

.title {
  font-weight: 200;
  color: #020238;
}
.toggleModeBtn {
  font-size: 1.1rem;
  height: 7vh;
  background-color: rgb(82, 81, 81);
  border-radius: 50%;
  padding: 3px 6px;
  margin: 6vh 0 6vh 34vw;
}

.form {
  padding-bottom: 3px;
}

.formInput {
  width: 87.3%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  margin: 0 4px;
  border-bottom: 2px solid #01011847;
}

.add {
  padding: 4px 17px;
  background-color: #eb0404f6;
  color: white;
  border-radius: 5px;
  border: 1px solid #3636367d;
  box-shadow: 2px 2px 1px #00000042;
  font-size: 0.94rem;
  margin: 0 3px;
}

.ulTaskList {
  list-style: none;
  padding: 10px;
}

.listItem {
  background-color: #01012bd0;
  color: white;
  width: 98.5%;
  padding: 6px 9px;
  border-radius: 3px;
  font-size: 1.1rem;
  margin: 4px 0;
}

.listItem::first-letter {
  text-transform: uppercase;
}

/* dark mode classes */

.titleDark {
  color: white;
}

.formInputDark {
  border-radius: 4px;
}

.addDark {
  background-color: #991414e6;
  padding: 6.7px 17px;
  font-weight: bold;
  margin: 0 1px;
  border: 1px solid rgba(255, 255, 255, 0.534);
}

.listItemDark {
  background-color: #708f837d;
}

.title,
.titleDark,
.formInput,
.formInputDark,
.add,
.addDark,
.listItem,
.listItemDark,
body {
  transition: background-color 0.4s ease, color 0.4s ease; /* Smooth transition for background-color and color */
}